
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior: smooth;
    font-family: 'poppins',sans-serif;
}
html,body{
    height:100vh;
    width:100%;
}
header{
    position:fixed;
    display: flex;
    justify-content:space-around;
    align-items: center;
    width:100%;
    z-index: 1000;
    height:100px;
    padding:30px 0px;
}
nav{
    display:flex;
    gap:15px;
}
nav a{
    text-decoration:none;
    color:black;
    font-weight:500;
    margin:12px;
}
nav img{
	height:25px;
	margin-top:10px;
}
section{
	padding: 100px 180px;
}
.home{
	/* min-height: 100vh; */
	/* height: 100%; */
	width: 100%;
	background: url(background.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	grid-gap: 4rem;
}
.home-text h1{
	margin: 10px 0px 25px;
	font-size: 2vw;
	line-height: 1;
	font-weight: 700;
    text-transform:uppercase;
	margin-right:20%;
}
.home-text h5{
	margin-bottom: 23px;
	font-size: 19px;
	font-weight: 500;
}
span{
	color:orangered;
}
.home-text h3{
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
	margin-right:20%;
}
.home-text p{
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
	margin-bottom: 20px;
}
.social a{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: rgba(128,103,240,1);
	font-size: 17px;
	color: var(--bg-color);
	margin-right: 22px;
	margin-bottom: 30px;
}
.social a:hover{
	transform: scale(1.1);
	background: var(--main-color);
	transition: .5s;
}
.btn{
	display: inline-block;
	color:black;
	background: grey;
	font-size: var(--p-font);
	padding: 10px 40px;
	font-weight: 500;
	line-height: 24px;
	border-radius: 30px;
	transition: ease .40s;
}
.btn:hover{
	transform: scale(1.3);
}
.image-img img{
	width: 85%;
	height:550px;	
    border-radius:10%;
	margin-top:60px;
	/* box-shadow:6px 8px 20px; */
}

.project{
	height:500px;
	width:100%;
	display:flex;
	align-items: center;
	justify-content:space-around;
	background:url(background.jpg);
}
.project-img{
	height:200px;
	width:auto;
	background:green;
}
.project-img img{
	height:300px;
}
#para{
	font-size:18px;
}

/* about section */


.about{
	position:relative;
	display:grid;
	grid-template-columns: repeat(2, 2fr);
	align-items: center;
	grid-gap: 2rem;
}
.about-img img{
	position:absolute;
	width:auto;
	height: 40vh;
	padding-bottom: 5%;
	scale:2;

}
.about-text h2{
	font-size:20px;
	font-weight: 600;
	margin: 8px 0px 25px;
	line-height: 1.1;
}
.about-text h3{
	color: var(--main-color);
	font-size: 20px;
	font-weight: 500;
}
.about-text p{
	max-width: 550px;
	font-size: var(--p-font);
	color: var(--secound-color);
	line-height: 28px;
	margin-bottom: 45px;
}

 /* cards section */

.text{
	/* width:100%; */
	/* margin-top:40px; */
	/* align-items: center; */
	justify-content: center;
	/* background: green; */
}
.text h1,h2{
	font-family:'poppins',sans-serif;
	text-align:center;
	top:30px;
	font-weight: 600;
	
}
#hero{
	color:burlywood;
}

#cards{
	display:flex;
	align-items:center;
	justify-content:space-around;
	/* height:100%;	 */
	width:100%;
	/* gap:30%; */
	padding:20px;
	/* margin-bottom:20%; */
	/* background: green; */
	margin-top:20px;
}
.card{
	border-radius:8px;
	height: 450px;
	width:30%;
	background: lightcyan;
}
.card h1{
	text-align:center;
	padding-top:40px;
}
.logo{
	padding-top:40px;
	display:flex;
	justify-content: center;
	align-items: center;
	width:100%;
	gap:40px;
	margin-top:40px;
}
.logo img{
	height:100px;
}
.logo2{
	display:flex;
	justify-content:flex-start;
	align-items: center;
	width:100%;
	margin-top:15px;
	padding-left:15px;
	gap:6%;
}
.logo2 img{
	margin-top:10px;
	height: 65px;
	padding-left:25px;
}
#school{
	margin-top:30%;
	text-align:center;
	color:grey;
	font-weight:600;
	font-size:2vw;
	text-transform:uppercase;
}
h4{
	text-align:center;

}
h1{
	text-align: center;
}
h3{
	margin-top:30%;
	text-align:center;
	color:grey;
	font-weight:600;
	font-size:2vw;
	text-transform:uppercase;
}


#bar{
	/* position: relative; */
	display:flex;
	justify-content: space-between;
	flex-wrap: wrap;
	/* height:100vh; */
	width:100%;
	background:grey;
	gap:50px;
}
.skill{
	height: 300px;
	width:calc(100%/4);
	/* height:160px; */
	position:relative;
	padding:20px 70px;	
	/* background:pink; */
}
.outer{
	height:160px;
	width:160px;
	border-radius:50%;
	/* border:1px solid red; */
	padding:20px;
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
	           -6px -6px 10px -1px rgba(255,255,255,0.7)
}
.inner{
	display: flex;
	height:120px;
	width:120px;
	border-radius:50%;
	justify-content:center;
	align-items: center;
	box-shadow:inset 4px 4px 6px -1px rgba(0,0,0,0.2),
	           inset -4px -4px 6px -1px rgba(255,255,255,0.7),
			   -0.5px -0.5px 0px rgba(255,255,255,1),
			   0.5px 0.5px 0px rgba(0,0,0,0.15),
			   0px 12px 10px -10px rgba(0,0,0,0.05);
}
#number{
	font-weight:1000px;
	color:black;
}
circle{
	fill:none;
	stroke:url(#GradientColor);
	stroke-width:20px;
	stroke-dasharray:472;
	stroke-dashoffset:95;
}
svg{
	position:absolute;
	top:6%;
	
}
@keyframes anim{
	100%{
		stroke-dashoffset:95;
		
	}

	
}

@keyframes anim2{
	100%{
		stroke-dashoffset:284;
		
	}
}

@keyframes anim3{
	100%{
		stroke-dashoffset:189;
		
	}
}

@keyframes anim4{
	100%{
		stroke-dashoffset:248;
		
	}
}

@keyframes anim5{
	100%{
		stroke-dashoffset:189;
		
	}
}
@keyframes anim6{
	100%{
		stroke-dashoffset:189;
		
	}
}



.heading{
	/* background:red; */
	margin-top:20%;
}

#htmlcirc{
	fill:none;
	stroke:url(#GradientColor);
	stroke-width:20px;
	stroke-dasharray:472;
	stroke-dashoffset:472;
	animation:anim 1s linear forwards;

}
#jscirc{
	fill:none;
	stroke:url(#GradientColor);
	stroke-width:20px;
	stroke-dasharray:472;
	stroke-dashoffset:472;
	animation:anim2 2s linear forwards;

}
#csscirc{
	fill:none;
	stroke:url(#GradientColor);
	stroke-width:20px;
	stroke-dasharray:472;
	stroke-dashoffset:472;
	animation:anim3 2s linear forwards;

}

#bootcirc{
	fill:none;
	stroke:url(#GradientColor);
	stroke-width:20px;
	stroke-dasharray:472;
	stroke-dashoffset:472;
	animation:anim4 2s linear forwards;

}

#gsapcirc{
	fill:none;
	stroke:url(#GradientColor);
	stroke-width:20px;
	stroke-dasharray:472;
	stroke-dashoffset:472;
	animation:anim5 2s linear forwards;

}

#wixcirc{
	fill:none;
	stroke:url(#GradientColor);
	stroke-width:20px;
	stroke-dasharray:472;
	stroke-dashoffset:472;
	animation:anim6 2s linear forwards;

}


.contact h2{
	margin-bottom:3rem;
}
.contact form{
	max-width:100%;
	margin:16px auto;
	text-align:center;
	margin-bottom:48px;
}
.contact form .input-box{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
}
.contact form .input-box input,
.contact form textarea{
	width:100%;
	padding:24px;
	font-size:26px;
	color:blac;
	/* background:grey; */
	border-radius:12px;
	margin:10px 0;
	box-shadow:0 3px 7px;
}

	.contact form .input-box input{
		width:49%;

	}
	.contact form textarea{
		resize:none;

	}
	.contact form .btn{
		margin-top:32px;
		cursor:pointer;
	}


	